{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  {{- $context := . }}
  <article itemprop="mainEntityOfPage" class="h-entry" id="skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  {{- $termTitle := .Title }}
  {{- $data := .Data }}
  {{- range first 1 (where $.Site.Data.series "key" "eq" .Title ) }}
    <header>
      <h1 itemprop="name" class="p-name" id="{{ anchorize $termTitle }}">{{ .title }}</h1>
      {{ partial "footer/image.html" . }}
    </header>
    <section itemprop="text" class="e-content content">
      {{ partial "paragraphy.html" .description }}
      <div class="table-wrapper" itemscope itemtype="http://schema.org/Table">
        <table id="table-{{ $data.Singular | anchorize }}-{{ .key | anchorize }}" class="stripe data-tables">
          <caption itemprop="about">Table "{{ .title | title }}" {{ $data.Singular | title }}: Posts in "{{ .title }}" {{ $data.Singular }}</caption>
          <thead>
            <tr><th scope="col">Title</th><th scope="col">Date</th></tr>
          </thead>
          <tbody>
            {{- range $data.Pages }}
            <tr>
              <td><a href="{{ .Permalink}}">{{ .Title }}</a></td>
              <td><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</td>
            </tr>
            {{- end }}
          </tbody>
        </table>
      </div>
    </section>
  {{- end }}
  </article>
{{ end }}
