{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  {{- $context := . }}
  <article itemprop="mainEntityOfPage" class="h-entry" id="skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  {{- $termTitle := .Title }}
  {{- $data := .Data }}
  {{- range first 1 (where $.Site.Data.series "key" "eq" .Title ) }}
    <header>
      <h1 itemprop="name" class="p-name" id="{{ anchorize $termTitle }}">{{ .title }}</h1>
      {{ partial "footer/image.html" . }}
    </header>
    <section itemprop="text" class="e-content content">
      {{ partial "paragraphy.html" .description }}

      <p>Below are all of the posts in this series:</p>
      <ol>
        {{- range sort $data.Pages "Date" "asc" }}
        <li><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time> :: <a href="{{ .Permalink}}">{{ .Title }}</a></li>
        {{- end }}
      </ol>
    </section>
  {{- end }}
  </article>
{{ end }}
