<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# dct: http://purl.org/dc/terms/ cc: https://creativecommons.org/ns#">
  <head>
    <meta charset="utf-8" >
    {{ block "head-title" . }}
    {{- if .IsHome }}
    <title>{{ .Title }}</title>
    {{- else if (and (eq .Kind "term") (eq .Type "Series")) }}
    {{- range first 1 (where $.Site.Data.series "key" "eq" (lower .Title) ) }}
    <title>{{ .title }} // {{ $.Site.Title  }}</title>
    {{- end }}
    {{- else if .Params.resume }}
    <title>Jeremy Friesen's Resume</title>
    {{- else }}
    <title>{{ .Title }} // {{ .Site.Title  }}</title>
    {{- end }}
    {{- end }}
    {{- block "head" . }}{{ partial "head" . }}{{- end }}
  </head>
  <body class="type-{{ .Type }} {{ with .Params.body_dom_class }}{{ . }} {{ end }}{{ if isset .Params "full_width"}}full{{ else }}{{ if .IsHome }}full{{ else }}default{{ end }}{{ end }}-width">
    <header aria-label="Site header">
      {{ block "pageRelatedLinks" . }}{{ end }}
      <nav aria-label="Site navigation">
	<span role="menu" aria-label="Site navigation links">
          <span role="menuitem" aria-labelledby="skip-link">
	    <a href="#skip-to-content" class="offscreen" id="skip-link">Skip to Main Content</a>
	  </span><span class="hidden"> &middot; </span>
          <span aria-labelledby="home" role="menuitem" class="site-nav-home">
	    <a id="home" aria-label="Home" rel="home" href="{{ .Site.BaseURL }}" {{ if eq (string $.Page.Permalink) (string .Site.BaseURL) }} aria-current="page" {{end}} >{{ .Site.Title }}</a>
	  </span><span class="hidden"> &middot; </span>
          {{- range $idx, $item := .Site.Menus.topnav }}
	  {{- $title := default $item.Title ($item.Name) }}
          <span role="menuitem" aria-label="{{$title}}">
	    <a href="{{ $item.URL }}" {{ if eq $.Page.RelPermalink $item.URL }}aria-current="page" {{ end }} title="{{ $title }}">{{ $item.Name | safeHTML }}</a>
	  </span><span class="hidden"> &middot; </span>
          {{- end }}
          <span role="menuitem" aria-label="Search">
	    <a {{ if eq (string $.Page.RelPermalink) "/search/" }}aria-current="page" {{ end }} rel="search" id="search-link" href="https://duckduckgo.com/?q=site:{{ .Site.Params.siteHost }}" title="Search via DuckDuckGo">Search</a>
	  </span>
	</span>
      </nav>
      <script>
       var form = document.getElementById('search-link');
       form.setAttribute("href", "/search/");
       form.setAttribute("title", "Site-wide search");
      </script>
      <hr />
    </header>
    <main aria-label="Main Content">
      {{ block "breadcrumb" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
  </body>
</html>
