{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article property="sc:mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" resource="#skip-to-content" typeof="sc:WebPageElement">
  {{- $title := .Title }}{{- $abbr := false }}
  {{- $list := index .Site.Data (.Type | pluralize) }}
  {{- with $list }}{{- with index . $title }}{{- with .abbr }}
  {{- $abbr = index $.Site.Data.abbrs . }}
  {{- $title = $abbr.title }}
  {{- end }}{{- end }}{{- end }}
  <header>
    <link property="sc:mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    <h1 property="sc:name" class="p-name" id="{{ anchorize $title }}">{{ .Title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section property="sc:text" class="e-content content">
    {{- if isset $abbr "description" }}
    {{- partial "paragraphy.html" $abbr.description }}
    {{- end }}

    <p>Below are all of the posts with the <em>{{ .Title }}</em> {{ .Type | singularize }}. I ordered the posts from oldest to newest:</p>

    <dl class="group">
      {{- range sort .Pages "Date" "asc" }}
      <dt><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time></dt><dd><cite><a href="{{ .Permalink}}" rel="bookmark">{{ .Title }}</a></cite></dd>
      {{- end }}
    </dl>
  </section>
</article>
{{ end }}
