{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  <header>
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    <h1 itemprop="name" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section itemprop="text" class="e-content content">
    <p>
      Below are all of the posts with the <em>{{ .Title }}</em> {{ .Type | singularize }}.
      {{- $type := .Type }}
      {{- range first 1 (where $.Site.Data.glossary (.Type | singularize) "eq" .Title) }}
      {{- if isset . "itemid" }}
      This {{ $type | singularize }} relates to <span itemprop="keywords" itemscope itemtype="http://schema.org/DefinedTerm"><q itemprop="name">{{ if .offer }}<a href="{{ .offer }}">{{ .title }}</a></q><link itemprop="sameAs" href="{{ .itemid }}" />{{ else }}<a itemprop="sameAs" href="{{ .itemid }}" />{{ .title }}</a></q>{{ end }}</span>.{{- end }}{{- end }}
    </p>
    <p>
      I have ordered the posts from newest to oldest:
    </p>
    <dl class="group">
      {{- range sort .Pages "Date" "desc" }}
      <dt><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time></dt><dd><cite><a href="{{ .Permalink}}">{{ .Title }}</a></cite></dd>
      {{- end }}
    </dl>
  </section>
</article>
{{ end }}
