{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  <article itemprop="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" itemid="{{ .RelPermalink }}#skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
    <header>
      <link itemprop="mainEntityOfPage" href="{{ .RelPermalink }}#skip-to-content" />
      <h1 itemprop="headline" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
    {{- with .Params.headline }}
      <h2 itemprop="alternateHeadline">{{ . }}</h2>
    {{- end }}
    </header>
    <section itemprop="text" class="e-content content" role="region" aria-label="article content">
      {{ .Content }}
    </section>
    <footer>
      {{ partial "footer/webmentions.html" . }}
      {{ partial "footer/licenses.html" . }}
      {{ partial "footer/image.html" . }}
    </footer>
  </article>
{{ end }}
