{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
  <article itemprop="mainEntityOfPage" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="author" href="#microdata-author" />
    <link itemprop="publisher" href="#microdata-org" />
    <link itemprop="isPartOf" href="{{ .Site.BaseURL }}" />
    <link itemprop="speakable" href="#skip-to-content" />
    <meta itemprop="wordCount" content="{{ .WordCount }}" />
    <meta itemprop="inLanguage" content="en-US" />

    <header aria-labelledby="{{ anchorize .Title }}">
      <hgroup>
        <h1 itemprop="name" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
        {{- if .Params.title_sub }}
          <h2>{{ .Params.title_sub }}</h2>
          {{- with .Params.headline }}
            <h3 itemprop="headline">{{ . }}</h3>
          {{- else }}
            <meta itemprop="headline" content="{{ with .Params.description }}{{ substr (. | plainify ) 0 100 }}&hellip;{{ else }}{{ .Title }}{{ end }}" />
          {{- end }}
        {{- else }}
          {{- with .Params.headline }}
            <h2 itemprop="headline">{{ . }}</h2>
          {{- else }}
            <meta itemprop="headline" content="{{ with .Params.description }}{{ substr (. | plainify ) 0 100 }}&hellip;{{ else }}{{ .Title }}{{ end }}" />
          {{- end }}
        {{- end }}
      </hgroup>
      <section aria-label="Author, Dates, and Tags">
        {{ partial "dates-and-tags.html" . }}
      </section>
    </header>
    <section itemprop="articleBody" class="content e-content" aria-label="Content">
      {{ .Content }}
    </section>
    <footer>
      {{ partial "webmentions.html" . }}
      {{- with .Params.series }}
        <nav aria-labelledby="skip-to-series-navigation">
          {{- range (where $.Site.Data.series "key" "eq" .) }}
            {{- $title := .title }}
            <h2 itemprop="articleSection" id="skip-to-series-navigation">
               Series: <a href="{{ "series" | absURL }}/{{ .key | urlize }}" rel="bookmark">{{ $title }}</a>
            </h2>
            <p>
              {{- $series := where $.Site.Pages "Params.series" .key }}
              {{- $prev := where $series ".PublishDate" "lt" $.Page.PublishDate }}
              {{- range first 1 $prev }}
                The previous post in the series is <a rel="prev" title="{{ .Title }}" href="{{ .Permalink }}"><cite>{{ .Title }}</cite></a>.
              {{- end}}
              {{- $next := where $series ".PublishDate" "gt" $.Page.PublishDate }}
              {{- range last 1 $next }}
                The next post in the series is <a rel="next" title="{{ .Title }}" href="{{ .Permalink }}"><cite>{{ .Title }}</cite></a>.
              {{- end}}
            </p>
          {{- end}}
        </nav>
      {{- end }}
      <nav aria-labelledby="skip-to-related-posts">
        <h2 id="skip-to-related-posts">Related Posts</h2>
        <ul>
          {{ range first 5 (.Site.RegularPages.Related .) }}
            <li>
              <a aria-label="Related post: {{ .Title }}" href="{{ .RelPermalink }}"><cite>{{ .Title | markdownify }}</cite></a>
            </li>
          {{ end }}
        </ul>
      </nav>
      {{ partial "licenses.html" . }}
    </footer>
  </article>
{{ end }}
