{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article property="sc:mainEntity" class="h-entry" resource="#skip-to-content" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" typeof="sc:BlogPosting">
  <header aria-labelledby="{{ anchorize .Title }}">
    <link property="sc:mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    {{ if isset .Params "series" }}
    <link property="sc:isPartOf" href="{{ .RelPermalink }}#series-itemscope" />
    {{ end }}
    {{ partial "header/post.html" . }}
  </header>
  <section property="sc:articleBody" class="content e-content" resource="#content" aria-label="Content">
    {{- with .Params.sessionReport }}
    <section aria-label="Session report summary" property="sc:about" typeof="sc:SocialEvent">
      <link property="sc:subjectOf" href="{{ $.Page.Permalink }}#skip-to-content" />
      <meta property="sc:endDate" content="{{ dateFormat $.Site.Params.iso8601_format .date }}" />
      <p><span property="sc:name"><cite>{{ $.Page.Title }}</cite> is a <a property="sc:isPartOf" href="{{ ref $.Page "/site-map/session-reports/index.md"  }}#skip-to-content">game session</a></span> report
        {{- range first 1 (where $.Site.Data.games "game" "eq" .game) }}
        for <span property="sc:workFeatured" typeof="sc:CreativeWork">
        {{ with .identifier }}<link property="sc:sameAs" href="{{ . }}" />{{ end }}{{ with .url }}<a property="sc:offers" href="{{ . }}">{{ end }}<span property="sc:name">{{ .name }}</span>{{ with .url }}</a>{{ end }}</span>
        {{- end }}.
        We played <span property="sc:location" typeof="sc:Place"><meta property="sc:address" content="{{ $.Site.Title }} HQ" /><span property="sc:name">{{ with .location }}{{ . }}{{ else }}around the table{{ end }}</span></span> on <time property="sc:startDate" datetime="{{ dateFormat $.Site.Params.iso8601_format .date }}">{{ dateFormat "Monday, January 02, 2006" .date }}</time>.
      </p>
    </section>
    {{- end }}
    {{ .Content }}
    {{- with .Params.theItemReviewed }}
    <section aria-labelledby="#review-summary-{{ anchorize $.Page.Title }}" property="sc:hasPart" typeof="sc:Review">
      <link property="sc:isPartOf" href="{{ $.Page.Permalink }}#skip-to-content" />
      <link property="sc:author" href="{{ $.Site.BaseURL }}#microdata-author" />
      <h2 id="review-summary">Review Summary</h2>
      {{ with .reviewBody }}
      <p property="sc:reviewBody">{{ partial "unparagraphy.html" . }}</p>
      {{ else }}
      <link property="sc:reviewBody" href="#content" />
      {{ end }}
      <p property="sc:reviewRating" typeof="sc:Rating">I give it <span property="sc:ratingValue">{{ .ratingValue }}</meta> of <span property="sc:bestRating">5</span> stars.</p>

        <p property="sc:itemReviewed" typeof="sc:{{ with .type }}{{ . }}{{ else }}Book{{ end }}">
          <cite>{{ $.Page.Title }}</cite> is a review of <a property="sc:sameAs" href="{{ .url }}"><span property="sc:name">{{ .name }}</span></a> by <span property="sc:author">
            {{ if eq (len .authors) 2 }}{{ delimit .authors "</span> and <span itemprop='author'>"}}{{ else }}{{ delimit .authors "</span>, <span itemprop='author'>"  "</span>, and <span itemprop='author'>" }}{{ end }}</span>.

        </p>

    </section>
    {{- end }}
  </section>
  <footer>
    {{ partial "footer/webmentions.html" . }}
    {{ partial "footer/series.html" . }}
    {{ partial "footer/related-posts.html" . }}
    {{ partial "footer/licenses.html" . }}
    {{ partial "footer/image.html" . }}
  </footer>
</article>
{{ end }}
