{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  <header>
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    <h1 itemprop="name" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section itemprop="text" class="e-content content">
    {{ .Content }}
    <div class="table-wrapper" itemscope itemtype="http://schema.org/Table">
      <table id="table-{{ anchorize .Title }}" class="data-tables stripe">
        <caption itemprop="about">Table {{ .Title }}: All {{ .Title }} in {{ .Site.Title }}</caption>
        <thead>
          <tr><th scope="col">Title</th><th class="r" scope="col">Count</th><th class="c" scope="col">First Post</th><th class="c" scope="col">Last Post</th></tr>
        </thead>
        <tbody>
          {{- range $key, $value := .Data.Terms.Alphabetical}}
          <tr>
            <td><a href="{{ $value.Name| urlize }}">{{ $value.Name }}</a></td>
            <td class="r">{{  $value.Count }}</td>
            {{- range first 1 $value.Pages.Reverse }}
            <td class="c"><a href="{{ .Permalink }}"><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time></a></td>
            {{- end }}
            {{- range first 1 $value.Pages }}
            <td class="c"><a href="{{ .Permalink }}"><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time></a></td>
            {{- end }}
          </tr>
          {{- end }}
        </tbody>
      </table>
    </div>
  </section>
</article>
{{ end }}
