$text-color-light: #000000;
$bg-color-light: #fffff8;
$definition-color-light: rgb(7,54,166);
$abbreviation-color-light: $definition-color-light;
$term-color-light: $definition-color-light;
$contrast-color-light: $definition-color-light;
$link-color-light:  lighten(rgb(94,1,53), 10%);
$visited-link-color-light: rgb(85,32,168);
$visited-link-color-light: darken($link-color-light, 10%);
$summary-color-light: $link-color-light;
$sidenote-number-color-light: $link-color-light;
$h1-color-light: $text-color-light;
$h2-color-light: rgb(88,50,41);
$h3-color-light: rgb(20,48,93);
$h4-color-light: rgb(35,63,53);
$code-color-light: rgb(143, 0, 118);
$blockquote-color-light: $h3-color-light;
$commentary-color-light: rgb(91, 68, 18);
$table-cell-color-light: rgb(35,86,35);
$table-header-color-light: darken(rgb(243,247,238), 10%);
$border-alternate-row-color-light: rgb(243,247,238);

$text-color: $text-color-light;
$bg-color: $bg-color-light;
$definition-color: $definition-color-light;
$abbreviation-color: $abbreviation-color-light;
$term-color: $term-color-light;
$contrast-color: $contrast-color-light;
$link-color: $link-color-light;
$visited-link-color: $visited-link-color-light;
$summary-color: $summary-color-light;
$sidenote-number-color: $sidenote-number-color-light;
$h1-color: $h1-color-light;
$h2-color: $h2-color-light;
$h3-color: $h3-color-light;
$h4-color: $h4-color-light;
$code-color: $code-color-light;
$blockquote-color: $blockquote-color-light;
$commentary-color: $commentary-color-light;
$table-cell-color: $table-cell-color-light;
$table-header-color: $table-header-color-light;
$border-alternate-row-color: $border-alternate-row-color-light;

p { color: $text-color !important;}
dfn { color: $definition-color !important; }
abbr { color: $abbreviation-color !important;  }
dt { color: $term-color !important;  }
dfn, dt { font-weight: 400 !important; }
a { color: $link-color !important; }
a:visited { color: $visited-link-color !important; }
summary { color: $summary-color !important; }
.sidenote-number { color: $sidenote-number-color !important; }
ins[role=note] { border-color: $link-color !important; }
h1, h2, h3, h4 { font-style: normal !important; font-family: $sans-font; }
h1 { color: $h1-color; }
h2 { color: $h2-color; }
h3 { color: $h3-color; }
h4 { color: $h4-color; font-size: 1.5rem !important;}
code.code, code, pre code { color: $code-color !important; }
blockquote { border-color: $blockquote-color !important; color: $blockquote-color !important; }
blockquote p { color: $blockquote-color !important; }
.margin, .side, .update {
    color: $commentary-color !important;
    p { color: $commentary-color !important; }
}
del { text-decoration-color: $commentary-color !important; }
ins { color: $commentary-color !important; }
thead tr { background-color: $table-header-color !important; }
thead th { font-weight: bold; color: $table-cell-color; }
tbody th { font-weight: bold; color: $table-cell-color; }

$link-style: color; // choices are 'color' or 'underline'. Default is color using $contrast-color set above
