// Responsible for common rendering behavior of the marginalia. When tinkering
// with this file, remember to review both the narrow version and the print version
[role="note"] {
    .fullwidth { max-width: 100%; }
    float: right;
    clear: right;
    margin: 0 -60% 1.96rem 0;
    width: 50%;
    font-size: 1.0rem;
    line-height: 1.96;
    vertical-align: baseline;
    position: relative;
    &.table-wrapper {
        margin-right: 11%; width: 29%;
        table { width: 100%; }
    }
    p, ul, dl, blockquote {
        font-size: 1.0rem; width:100%;
    }
    pre, code { font-size: 1rem; }

    * { padding-top: 1.4rem; margin-top: 0rem; }
    *:first-of-type { padding-top: 0rem; }
    // A fix for the hover state
    a { padding-top: 0rem; }
    blockquote { width: 95%; }
}

figure[role="note"] {
    max-width: 100%;
    figcaption {
        margin-right: 0;
        float: none;
        clear: both;
        max-width: 100%;
        width: 100%;
    }
    // A weird bug in rendering. On a test page I had a narrow view
    // port, with Figcaption and younger sibling Blockquote.  Without
    // the clear left, the left border ran right up to the bottom of the
    // image.
    @media screen and (max-width: 760px) {
        + * { clear: left; }
    }
}


//added to allow for the fact that lists are indented and marginnotes and sidenotes push to right
li, blockquote {
    [role="note"] { margin-right: -80%; }
}

.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after, ins.side[role="note"]:before {
    content: counter(sidenote-counter) ")\000a0";
    font-family: $counter-font;
    position: relative;
    vertical-align: baseline;
}
.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

// TODO: Must figure this out. I don't want to hide marginalia but instead
//       render it similar to the print style
.full-width { [role="note"], .sidenote-number { display: none; } }
ins.margin[role="note"], figure[role="note"] { margin-right: 12.5%; width: 27%; }

@media screen and (max-width: 760px) {
    blockquote { clear: both; }
    [role="note"] {
        display: block;
        &.margin-table.table-wrapper {
            width: 87.5%;
            table { width: 100%; }
    }

    }
    ins[role="note"] {
        padding-left: 0.5rem;
        margin: 1rem 10% 1rem 2.5%; // Note, the 12.5% + 87.5% from below
    }

    figcaption { width: 100%; }

    // NOTE: The specificity of the selectors is required; They echo the above specific selector
    ins.margin[role="note"], figure[role="note"], ins[role="note"] {
        width: 87.5%;
        float: left;
        clear: both;
        br {
            margin-bottom: 0.66rem;
            &:last-of-type { margin-bottom: 0rem; }
        }
    }
}
