// Responsible for common rendering behavior of the marginalia. When tinkering
// with this file, remember to review both the narrow version and the print version
[role="note"] {
    // The MARGIN TOP helps ensure more precise positioning of the element.
    margin-top: 0rem;
    > *:first-child { margin-top: 0rem; }

    .fullwidth { max-width: 100%; }
    float: right;
    clear: right;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 50%;

    vertical-align: baseline;
    position: relative;
    p, dl, &.table-wrapper table {
        width:100%;
    }

    dl { display: block; }

    ol, ul, pre, code, blockquote { width: 87.5%; }
    &.side {
            margin: 0 -60% 1.96rem 0;
            width: 50%;
    }
}

figure[role="note"] {
    max-width: 100%;
    figcaption {
        margin-right: 0;
        float: none;
        clear: both;
        max-width: 100%;
        width: 100%;
    }
    // A weird bug in rendering. On a test page I had a narrow view
    // port, with Figcaption and younger sibling Blockquote.  Without
    // the clear left, the left border ran right up to the bottom of the
    // image.
    @media screen and (max-width: 760px) {
        + * { clear: left; }
    }
}

.ogc .margin[role=note] {
    width: 27.5%
}

.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after, .side[role="note"]:before {
    content: counter(sidenote-counter) ")\000a0";
    font-family: var(--counter-font);
    position: relative;
    vertical-align: baseline;
}
.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 50%;
    top: -0.2rem;
    left: 0.1rem;
}

// TODO: Must figure this out. I don't want to hide marginalia but instead
//       render it similar to the print style
.full-width { [role="note"], .sidenote-number { display: none; } }
.margin[role="note"], figure[role="note"] {
    margin-right: 12.5%; width: 27%;
}

@media screen and (max-width: 760px) {
    // Setup to ensure that the hover state for summary doesn't overlap with a preceding sidenote's location.
    details, blockquote { clear: both; }
    [role="note"] {
        display: block;
        &.margin-table.table-wrapper {
            width: 87.5%;
            table { width: 100%; }
        }
        padding-left: 2.5%;
        margin-right: 2.5%;
        width: 87.5%;
    }

    figcaption { width: 100%; }

    .licensed {
        width: 87.5%;
    }

    // NOTE: The specificity of the selectors is required; They echo the above specific selector
    figure[role="note"], .margin[role="note"] {
        width: 87.5%;
        clear: both;
        float: none;
    }

    .side[role="note"] {
        clear: both;
        margin: 1rem 0;
        width: 97.5%
    }


    figure[role="note"] {
        margin-left: 0;
        padding-left: 0;
    }

}
