// Responsible for common rendering behavior of the marginalia. When tinkering
// with this file, remember to review both the narrow version and the print version
[role="note"]:not(p) {
  .fullwidth { max-width: 100%; }
  float: right;
  clear: right;
  margin: 0 -60% 1.96rem 0;
  width: 50%;
  font-size: 1.0rem;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative;
  &.margin-table {
    margin-right: 11%; width: 29%;
    .table-wrapper {
      width: 100%;
      table { width: 100%; }
    }
  }
  p, ul, dl {
    font-size: 1.0rem; width:100%;
  }
}

figure[role="note"] {
  max-width: 100%;
  figcaption {
    margin-right: 0;
    float: none;
    clear: both;
    max-width: 100%; }
}


 //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right
li, blockquote {
  [role="note"] { margin-right: -80%; }
}

.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after, ins[role="note"]:before {
  content: counter(sidenote-counter) ")\000a0";
  font-family: $counter-font;
  color: $contrast-color;
  @media screen and (prefers-color-scheme: dark) {
    color: $contrast-color-dark;
  }
  position: relative;
  vertical-align: baseline;
}
.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

// TODO: Must figure this out. I don't want to hide marginalia but instead
//       render it similar to the print style
.full-width { [role="note"]:not(p), .sidenote-number { display: none; } }

aside[role="note"], figure[role="note"] { margin-right: 12.5%; width: 27%; }
@media screen and (max-width: 760px) {
  [role="note"] {
    display: block;
  }
  aside[role="note"], ins[role="note"] {
    border-left: $contrast-color thin dotted;
    padding-left: 0.5rem;
    margin: 1rem 10% 1rem 2.5%; // Note, the 12.5% + 87.5% from below
  }
  aside[role="note"], figure[role="note"], ins[role="note"] {
    width: 87.5%;
    float: left;
    clear: both;
    br {
     margin-bottom: 0.66rem;
     &:last-of-type { margin-bottom: 0rem; }
   }
  }
}

/* This one is stubborn. I needed something more targetd, as an and+and didn't work */
@media screen and (prefers-color-scheme: dark) {
  aside[role="note"], ins[role="note"] {
    border-left-color: $contrast-color-dark;
  }
}
