// I encountered print styling issues where an H2 was "floating" to the right of marginalia
// This appeared to resolve that issue
main { h1, h2, h3, h4 { clear: left; } }

// Responsible for common rendering behavior of the marginalia. When tinkering
// with this file, remember to review both the narrow version and the print version
.sidenote, .marginnote {
  .fullwidth { max-width: 100%; }
  float: right; clear: right; margin: 0 -60% 1.96rem 0; width: 50%; font-size: 1.0rem; line-height: 1.96; vertical-align: baseline; position: relative;
  &.margin-table {
    margin-right: 11%; width: 29%;
    .table-wrapper {
      width: 100%;
      table { width: 100%; }
    }
  }
}

 //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right
li, blockquote {
  .sidenote, .marginnote { margin-right: -80%; }
}


.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) ")\000a0"; font-family: $counter-font; color: $contrast-color; position: relative; vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter); font-size: 1rem; top: -0.5rem; left: 0.1rem; }

// TODO: Must figure this out. I don't want to hide marginalia but instead
//       render it similar to the print style
.full-width { .sidenote, .sidenote-number, .marginnote { display: none; } }

input.margin-toggle {
  display: none;
  &:not(.sidenote-number) { display: none; }
}

label.sidenote-number { display: inline; }
aside.marginnote { margin-right: 12.5%; width: 27%; }
@media screen and (max-width: 760px) {
  aside.marginnote { width: 80%; }
  aside.marginnote.marginfigure {
    width: 90% ; left: 0; margin-left: 0;
  }
  .marginnote:not(.marginfigure), .sidenote {
    border-left-width: thin;
    border-left-color: $contrast-color;
    border-left-style: dotted;
    padding-left: 0.5rem;
  }
  // The collapsed and non-collapsed CSS are reciprocals. You should pick one or the other
  // BEGIN collapsed margin
  // .sidenote, .marginnote { display: none; }
  // .margin-toggle:checked + .sidenote,
  // .margin-toggle:checked + .marginnote { display: block; float: left; left: 1rem; clear: both; width: 95%; margin: 1rem 2.5%; vertical-align: baseline; position: relative; }
  // END collapsed margin
  .sidenote, .marginnote {
    display: block; float: left; clear: both; width: 95%; margin: 1rem 2.5%; vertical-align: baseline; position: relative;
    br {
     margin-bottom: 0.66rem;
     &:last-of-type { margin-bottom: 0rem; }
   }
  }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { display: none; }
  .margin-table {
    .table-wrapper {
      width: 92%;
      table {
        width: 95%;
      }
    }
  }
}
