@import "settings";
@import "colors";

* { -webkit-transition: none !important; transition: none !important; }
*, *:before, *:after { background: transparent !important; box-shadow: none !important; text-shadow: none !important; }
@page { margin: 0.75in 0.5in; orphans:4; widows:2; }
// body header, body footer, body nav, body .content .margin-toggle:not(.sidenote-number) { display:none; }
// body main header, .marginnote, .sidenote { display: inherit; }
body {
  font-size:  12pt;
  // Without this line, the links could spill into the right column; I suspect this is in play regardless, and will
  // require more experimentation to see how things behave.
  overflow-wrap: break-word;
}

article {
  .table-wrapper, h2, h3, h4, summary { page-break-after: avoid; }
}
// I encountered print styling issues where an H2 was "floating" to the right of marginalia
// This appeared to resolve that issue
main { h1, h2, h3, h4 { clear: left; } }

header, nav, article footer { display:none; }
main header, blockquote footer { display: inherit; }
footer.group {
  font-family: $sans-font; font-size: 9pt; // border-top: 1px solid $text-color;
  .footer-links { display: none; }
}

tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
p, h2, h3, h4, summary { orphans: 4; widows: 4; }

table {
  thead, tr.subhead { display: table-header-group; }
  tbody tr.subhead {
    background-color: lighten($table-header-color, 20%);
    td, th { border-top: 1px solid lighten($table-header-color, 20%); }
    th { text-align: left; }
  }
}
