// This file contains all the constants for colors and font styles
// Enter Hipster Fonts

$body-font: Times, serif;
$sans-font: Helvetica, sans-serif;
$code-font: Courier, monospace;
$counter-font: $body-font;

:root {
    --tor-black: #000000;
    --tor-white: #ffffff;
    --fg-color: var(--tor-black);
    --bg-color: var(--tor-white);
    --tor-cyan-alt-faint: #354f6f;
    --tor-cyan-alt-other-faint: #2e584f;
    --time-color: var(--tor-cyan-alt-other-faint);
    --tor-black-alt: #505050;
    --tor-dfn-color: #505050;
    --tor-fg-dim: #282828;
    --em-color: var(--tor-fg-dim);
    --dfn-color: var(--tor-dfn-color);
    --abbr-color: var(--tor-dfn-color);
    --dt-color: var(--tor-dfn-color);
    --tor-blue: #0000BB;
    --a-color: var(--tor-blue);
    --sidenote-number-color: var(--tor-blue);
    --tor-magenta-alt: #5317ac;
    --tor-cyan: #00538b;
    --a-visited-color: var(--tor-cyan);
    --tor-blue-alt: #2544bb;
    --summary-color: var(--tor-magenta-alt);
    --h1-color: var(--fg-color);
    --tor-warm: #5d3026;
    --h2-color: var(--tor-warm);
    --tor-cold: #093060;
    --h3-color: var(--tor-cold);
    --tor-mild: #184034;
    --h4-color: var(--tor-mild);
    --tor-red-alt: #972500;
    --tor-green: #005e00;
    --tor-green-alt-other: #145c33;
    --code-color: var(--tor-green-alt-other);
    --tor-red: #a60000;
    --tor-docstring: #2a486a;
    --blockquote-color: var(--tor-docstring);
    --tor-yellow-faint: #5f4400;
    --commentary-color: var(--tor-yellow-faint);
    --tor-green-alt: #315b00;
    --kbd-color: var(--tor-green-alt);
    // --tor-green-alt: #145c33;
    --tor-red-alt-faint: #702f00;
    --table-th-fg-color: var(--tor-red-alt-faint);
    --table-td-fg-color: var(--tor-red-alt-faint);
    --tor-bgdim: #F8F8F8;
    --table-bg-tr-alt-color: var(--tor-bgdim);
    --tor-thead-bg-color: #F0F0F0;
    --table-bg-thead-color: var(--tor-thead-bg-color);
    --border-color: var(--tor-head-bg-color);
    --update-color: var(--commentary-color);
    --tor-bg-special-warm: #f0e0d4;
    --tor-fg-special-warm: #5d3026;
    --mark-fg-color: var(--tor-fg-special-warm);
    --mark-bg-color: var(--tor-bg-special-warm);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: var(--tor-white);
        --bg-color: var(--tor-black);
        --tor-fg-dim: #e0e6f0;
        --tor-cyan-faint: #a0bfdf;
        --tor-cyan-alt-faint: #90c4ed;
        --tor-cyan-alt-other-faint: #a4d0bb;
        --tor-dfn-color: #a8a8a8;
        --tor-black-alt: #181a20;
        --tor-blue: #00bdfa;
        --tor-magenta-alt: #b6a0ff;
        --tor-cyan: #00d3d0;
        --tor-blue-alt: #79a8ff;
        --tor-warm: #f8dec0;
        --tor-cold: #c6eaff;
        --tor-mild: #bfebe0;
        --tor-red-alt: #f4923b;
        --tor-red-alt-faint: #f5aa80;
        --tor-red: #ff8059;
        --tor-docstring: #b0d6f5;
        --tor-yellow-faint: #cab98f;
        --tor-green: #44bc44;
        --tor-green-alt: #80d200;
        --tor-green-alt-other: #00cd68;
        --tor-thead-bg-color: #110b11;
        --tor-bgdim: #181a20;
        --tor-white-alt: #a8a8a8;
        --tor-fg-special-warm: #f8dec0;
        --tor-bg-special-warm: #382f27;
    }
}