// This file contains all the constants for colors and font styles
// Enter Hipster Fonts

$body-font: Times, serif;
$sans-font: Helvetica, sans-serif;
$code-font: "JetBrains Mono", Courier, monospace;
$counter-font: Times, serif;

$fg-color-light: #000000;  // Operandi ORG fg-color
$bg-color-light: #fffff8;  // Operandi ORG bg-color
$time-color-light: rgb(17,80,111); // Operandi ORG date
$dfn-color-light: rgb(80,80,80); // Operandi ORG property drawer
$abbr-color-light: $dfn-color-light;
$dt-color-light: $dfn-color-light;
$contrast-color-light: $dfn-color-light;
$a-color-light:  rgb(127,16,16);  // Operandi ORG link color
$a-visited-color-light: darken($a-color-light, 10%);
$summary-color-light: $a-color-light;
$sidenote-number-color-light: $a-color-light;
$h1-color-light: $fg-color-light; // Operandi ORG Header 1
$h2-color-light: rgb(93,48,38);  // Operandi ORG Header 2
$h3-color-light: rgb(9,48,96); // Operandi ORG Header 3
$h4-color-light: rgb(0,64,0);  // Operandi ORG Header 4
$code-color-light: rgb(0, 90, 95); // Operandi Elisp Hash key
$blockquote-color-light: rgb(42,72,106); // Operandi Elisp docstring
$commentary-color-light: rgb(95,68,0); // Operandi comment color
// $table-th-fg-color-light: rgb(0,86,35);
$table-th-fg-color-light: rgb(9,48,96); // Operandi ORG Table Lines
$table-td-fg-color-light: $table-th-fg-color-light;
// $table-bg-tr-alt-color-light: rgb(243,247,238);
$table-bg-tr-alt-color-light: lighten(rgb(9,48,96), 75%);
$table-bg-thead-color-light: darken($table-bg-tr-alt-color-light, 10%);
$border-color-light: $table-bg-thead-color-light;
$update-color-light: $commentary-color-light;
$mark-color-light: lighten($commentary-color-light,70%);
$mark-fg-color-light: $bg-color-light;

$fg-color-dark: #fffff8;
$bg-color-dark: rgb(23,38,55);
$time-color-dark: rgb(160,190,223);
$dfn-color-dark: rgb(168,168,168);
$abbr-color-dark: $dfn-color-dark;
$dt-color-dark: $dfn-color-dark;
$contrast-color-dark: $dfn-color-dark;
$a-color-dark: rgb(255,161,162);
$a-visited-color-dark: lighten($a-color-dark, 10%);
$summary-color-dark: $a-color-dark;
$sidenote-number-color-dark: $a-color-dark;
$h1-color-dark: $fg-color-dark;
$h2-color-dark: rgb(248,222,192);
$h3-color-dark: rgb(198,234,255);
$h4-color-dark: rgb(191,235,224);
$code-color-dark: rgb(68,188,68);
$blockquote-color-dark: rgb(176,214,245);
$commentary-color-dark: rgb(203,185,143);
$border-color-light: $table-bg-thead-color-light;
$update-color-light: $commentary-color-light;
$table-th-fg-color-dark: rgb(198,234,255);
$table-td-fg-color-dark: $table-th-fg-color-dark;
$table-bg-thead-color-dark: lighten($bg-color-dark,20%);
$table-bg-tr-alt-color-dark: lighten($bg-color-dark,10%);
$border-color-dark: $table-bg-thead-color-dark;
$update-color-dark: $commentary-color-dark;
$mark-color-dark: lighten($commentary-color-dark,10%);
$mark-fg-color-dark: $bg-color-dark;