.table-wrapper { overflow-x: auto; padding-top: 0.5rem; } //changed all overflow values to 'auto' so scroll bars appear only as needed

table.full { width: 100%; max-width: 100%; }

table {
  width: auto; margin: 0 auto; border-spacing: 0px;
  .l { text-align: left }
  .c { text-align: center }
  .r { text-align: right }
  ul, ol { padding-top: 0rem; }
}


tbody tr {
  &.subhead th { text-align: left; }
}
.subbody td { padding-left: 1.5rem; }

tfoot td { border-top-width: 1px; border-top-style: solid; font-size: smaller; }
th, tfoot td { padding: 0.65ex 0.5em 0.4ex 0.5em; ; text-align: center; }
th, td, table ol, table ul { font-size: 1.2rem; line-height: 1.7142;  }
tr:first-child td { padding-top: 0.65ex; } /* add space between thead row and tbody */
td { padding-left: 0.5em; padding-right: 0.5em; text-align: left; }
caption { font-size: 90%; text-align: left; width: auto; margin-left: auto; margin-right: auto; margin-top: 1ex; caption-side: top; }
