.table-wrapper { overflow-x: auto;  padding: 1rem 0; } //changed all overflow values to 'auto' so scroll bars appear only as needed
blockquote .table-wrapper { width: auto; }
table.full { width: 100%; max-width: 100%; }

table {
  width: auto; margin: 0 auto; border-spacing: 0px;
  .l { text-align: left }
  .c { text-align: center }
  .r { text-align: right }
  // ul, ol { padding-top: 0rem; }
}


// [role="region"][aria-labelledby][tabindex] {
//   overflow: auto;
// }

// [role="region"][aria-labelledby][tabindex]:focus {
//   outline: .1em solid rgba(0,0,0,.1);
// }

tbody tr {
  &.subhead th { text-align: left; }
}
.subbody td { padding-left: 1.5rem; }

tfoot td { border-top-width: 1px; border-top-style: solid; }
th, tfoot td { text-align: center; }
th, td { padding: 0.3rem; }
td { text-align: left; }
caption { text-align: left; width: auto; margin-left: auto; margin-right: auto; caption-side: top; }
