.table-wrapper { overflow-x: auto; padding-top: 0.5rem; } //changed all overflow values to 'auto' so scroll bars appear only as needed

table.full { width: 100%; max-width: 100%; }

//making booktabs style tables the unstyled default in case someone uses Markdown styling
table {
  width: auto; margin: 0 auto; border-spacing: 0px;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  .l { text-align: left }
  .c { text-align: center }
  .r { text-align: right }
  ul, ol { width: 90%; padding-top: 0rem; }
}

// When the following line was scoped within table, it overwrote the following
// delaration: tbody tr.subhead { background-color: lighten($table-header-color, 20%); }
.unstriped tbody tr, .unstriped .subbody {
  background-color: $bg-color;
}

thead {
  th { border-bottom: 1px solid $border-color; }
  tr { background-color: $table-header-color; }
}
th { font-weight: bold; }
tbody tr {
  &:nth-child(even), &.subhead { background-color: lighten($table-header-color, 20%); }
  &.subhead th { text-align: left; }
}
.subbody td { padding-left: 1.5rem; }

tfoot td { border-top: 1px solid $border-color; font-size: smaller }
th, tfoot td { padding: 0.65ex 0.5em 0.4ex 0.5em; font-weight: normal; ; text-align: center; }
th, td, table ol, table ul { font-size: 1.2rem; line-height: 1.7142;  }
tr:first-child td { padding-top: 0.65ex; } /* add space between thead row and tbody */
td { padding-left: 0.5em; padding-right: 0.5em; text-align: left; }
caption { font-size: 90%; text-align: left; width: auto; margin-left: auto; margin-right: auto; margin-top: 1ex; caption-side: top; }

@media screen and (prefers-color-scheme: dark) {
  table {
    border-bottom-color: $border-color-dark;
    border-top-color: $border-color-dark;
  }
  tbody tr {
    &:nth-child(even), &.subhead { background-color: lighten($table-header-color-dark, 20%); }
  }
  .unstriped tbody tr, .unstriped .subbody {
    background-color: $bg-color-dark;
  }
  tfoot td { border-top-color: $border-color-dark; }
  thead {
    th { border-bottom-color: $border-color-dark; }
    tr { background-color: $table-header-color-dark; }
  }
}
