/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/

// Imports to create final
@import "settings";
@import "element-color";
@import "element-layout";
