* { margin: 0; padding: 0; }

/* clearfix hack after Cederholm (group class name) */
.group:after { content: ""; display: table; clear: both; }

// First significant deviation from CSS on tufte.css site - variable font size as browser width expands or contracts

html, body { height: 100%; }

html { scroll-behavior: smooth; vertical-align: baseline; font-size: 12px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { margin-left: auto; margin-right: auto; padding-left: 12.5%; font-family: $body-font; max-width: 1400px; counter-reset: sidenote-counter; }
body, article hgroup > *, .list-page ul { width: 87.5%; }

@media screen and (min-width: 800px){ html{ font-size: 12px;} }
@media screen and (min-width: 900px){ html{ font-size: 13px;} }
@media screen and (min-width: 1000px){ html{ font-size: 14px;} }
@media screen and (min-width: 1100px){ html{ font-size: 15px; } }
@media screen and (min-width: 1200px){ html{ font-size: 16px; } }
@media screen and (min-width: 1300px){ html{ font-size: 17px; } }

// sets link style according to values in _settings.scss
a { text-decoration: none; }

// --------- Typography stuff -----------//
// added rational line height and margins ala http://webtypography.net/intro/
h1 { font-weight: 400; font-size: 2.5rem; margin: 1.568rem 0; line-height: 1.0889; }
h2, h3, h4{ font-style: italic; font-weight: 400; margin-bottom: 0; line-height: 1.0889; }
h2 { font-size: 2.1rem; margin-top: 1.8667rem; }
h3 { font-size: 1.8rem; margin-top: 2.1778rem; }
h4 { font-size: 1.2rem; margin-top: 1.6778rem; }

p, summary, ol, ul, dl { font-size: 1.4rem; }
p, summary { margin-top: 1.4rem; }
p, summary, li { line-height: 2rem; padding-right: 2rem; vertical-align: baseline; }
blockquote {
  border-left: $code-color 1px dotted;
  width: 55%;
  font-size: 1.1rem;
  margin-top: 1.4rem;
  p, ul, ol, h2, h3, h4 { margin-left: 1rem; margin-right: 1rem; }
  p { width: 100%; }
  ul, ol { padding-top: 0; }
  p, ul, ol { font-size: 1.1rem; line-height: 1.7819rem; margin: 1.7819rem 1rem; }
  li { font-size: 1.1rem; margin-left: 3.5%; }
  footer {
    font-size: 1.1rem;
    margin-top: 1.4rem;
    width: 90%;
    text-align: right;
  }
}

/* BEGIN Epigraphs */
div.epigraph > blockquote {
  font-style: italic;
  p, ul { font-style: italic; margin: 1rem 0; }
  > footer {
    margin-top: 0rem; font-style: normal;
    > cite { font-style: italic; }
  }
}
/* END Epigraphs */

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
@import "table";
/* -- End of Table Styling section --*/


/* Basic Layout stuff --*/
ul, ol { padding: 1rem 0 0 5%; width: 45%; }

/* ------------------------------------------------------------------------ */
/* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-page {
  ul { list-style-type: none; margin: -0.25em; max-width: 45rem; }
  li { margin: 0; }
}
.list-date { display: inline; font-size: 0.75em; }
/* ------------------------------------------------------------------------ */
/* END Styling for listing pages. */
/* ------------------------------------------------------------------------ */

figure { margin: 1em 0 3em 0; max-width: 55%; }
img { max-width: 100%; }
figcaption {
  float: right;
  clear: right;
  margin-right: -50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}
.fullwidth { max-width: 90%; }

// Without this setting, when the header would wrap, the letters would overlap
h2, h3, h4, summary, .p, p, .table-wrapper, pre, dl { width: 55%; }
article header, body > footer { width: 95%; }
.full-width {
  ul, ol { width: 85%; }
  h2, h3, h4, summary, .p, p, footer, .table-wrapper, pre, dl { width: 90%; }
}


body > header {
  hr { display: none; }
  &> nav {
    h1 { display: inline-block; margin: 0; }
    padding: 1rem 0;
    a {
      &.hide-when-javascript-disabled { display: none; }
      font-style: normal;
      font-size: 1.2rem;
      font-family: $sans-font;
      letter-spacing: 0.15em;
      text-decoration: none;
      display: inline-block;
      margin: 1.5rem 2rem 0 auto;
      vertical-align: baseline;
      font-variant: small-caps;
    }
  }
}
body > footer { padding-top: 2rem; }

pre, pre code { font-family: $code-font; padding: 0 1.5%; overflow-x: auto; }
code { font-family: $code-font; font-size: 1.1rem; }
pre code { font-size: 1.0rem; line-height: 1.7142; margin-top: 1.7142rem; display: block; white-space: pre; }

.newthought { font-variant: small-caps; font-size: 1.2em; letter-spacing: 0.05rem; }

@import "marginalia";

/* -- Jekyll specific styling --*/
//helper classes


//Nav and Footer styling area

// For some reason AMP is mis-behaving around this
/* BEGIN SKIP-AMP */
nav {
  a.active:before { content:"\000AB\000a0"; } // escaped unicode for the double-angled pointing quotes and then a space on active menu links
  a.active:after { content:"\000a0\000BB"; }
}
/* END SKIP-AMP */


//change font color for credit links in footer
.credits {
  text-align: center;
  padding: 1rem 0rem;
  font-family: $sans-font;
  .license {
    margin-top: 1rem;
    font-size: smaller;
    padding: 0 2rem;
    img { padding-bottom: 0.5rem; }
  }
}

// End of Nav and Footer styling area

hr.slender {
    width: 55%;
    margin: 1.4rem 0;
}

footer hr.slender {
  width: 100%
}
// End of front listing page stuff


// Printing ands screen media queries

// Does not display a print-footer for screen display
@media screen{ .print-footer { display: none; } }

// BEGIN Skip Navigation
a.offscreen {
  position:absolute; left:-1000px; top:-1000px; width:1px; height:1px; text-align: left; overflow:hidden;
  &:focus, &:active, &:hover {
    position:absolute;
    padding: 0.75rem 0.75rem;
    margin: 1.5rem 2rem 0 0;
    left:5px;
    top:-20px;
    width:auto;
    height:auto;
    overflow:visible; }
}

// END Skip Navigation

// Working with lists, especially navigation

dl:not(.compact) {
  dt { padding: 2rem 0 0.5rem 1.5rem; text-indent: -1.5rem; }
  dd { padding: 0.5rem 0 0.5rem 3.5rem; text-indent: -2rem; }
}

dl.metadata {
  font-size: 1.1rem;
  padding-top: 0.5rem; clear: both;
  padding-bottom: 3.5rem;
  dt { padding-top: 0.5rem; font-weight: bold; clear: left; }
  dt:after { content: ":"; }
  dd { float: left; }
}
dl.compact {
  font-size: 1.1rem;
  padding-top: 0.5rem; clear: both;
  dt, dd { margin-top: 1rem; float: left }
  dd { text-indent: 1rem; }
  dt + dd { text-indent: 0; }
  dt { font-weight: bold; margin-right: 0.7rem; clear: left; }
  dt:after { content: ":"; }
  &:after { clear: both; }
}


article footer nav ul { width: 87.5% }

main {
  > ol {
    width: 100%; padding: 0;
    li {
      margin-left: 1.2rem; padding-right: 0;
      // I'd prefer to use padding-bottom, but because of the float nature of the
      // elements this does not work.
      &:not(:first-of-type) { padding-top: 1rem; }
    }
    &+nav { padding-top: 3rem; } // The last nav element on the listing page
  }
}

// metadata of articles, either on the index or in the aside
article li { padding-bottom: 0.5rem; }

article hgroup h2 { margin-bottom: 1.2rem; }

// breadcrumb
.breadcrumbs, .paginator {
  .label { display: none; }
  width: 85%; font-family: $sans-font; padding-bottom: 1rem;
}

.breadcrumbs a {
  margin-right: 0.33333333rem;
  &:not(:first-of-type) { margin-left: 0.3333333rem; }
}
.paginator {
  clear: both;
  a { margin-right: 0.5rem; }
  a:not(:first-of-type) { margin-left: 0.5rem; }
}

.hide-js { display: none; }

@media screen and (max-width: 760px) {
  h2, h3, h4, summary, .p, p, body > footer, .table-wrapper, pre, dl, ol, ul { width: 90%; }
  figure { max-width: 90%; }
  figcaption { margin-right: 0%; max-width: none; }
  blockquote {
    width: 80%;
    > * {  width: 80%; }
  }
  // Removed as it appears to not be used
  hr.slender { width: 100%; }
}

@media (max-width: 760px) {
  pre, pre code { width: 90%; padding: 0; }
}
/*--- End of Basic Layout stuff from tufte.css ---*/

sup { font-size: 0.7rem; }
ins { text-decoration-line: none; }
q:after, q:before { content: none; }

/* Hacks to better present */
.ogc {
  border-left: $code-color 1px dotted; padding-left: 1rem;
  & pre { margin-top: 1rem; }
}

details[open] > *:not(summary) {
  border-left: $code-color 1px dotted;
  margin-left: 0.5% ; // Aligns left border with center of down caret
  padding-left: 2.5%;
  width: 52%;
}
details[open] > ul {
  width: 100%;
}

@media screen and (max-width: 760px) {
  details[open] > *:not(summary) {
    width: 87%;
  }
}

dfn {
  font-weight: bold;
}

/* COLORS */

.contrast { color: $contrast-color;}
blockquote { color: $blockquote-color; }
.update { color: $update-color; }
pre, code { color:$code-color; }
a { color: $contrast-color;}
body { background-color: $bg-color; color: $text-color; }
a.offscreen {
  &:focus, &:active, &:hover {
    background-color:$contrast-color;
    color: $bg-color; border: 1px dotted $text-color;
  }
}
mark { background-color: lighten($update-color, 40%); }

del { text-decoration-color: $contrast-color; }

@media screen and (prefers-color-scheme: dark) {
  .contrast { color: $contrast-color-dark; }
  blockquote { color: $blockquote-color-dark; }
  .update { color: $update-color-dark; }
  pre, code { color:$code-color-dark; }
  a { color: $contrast-color-dark; }
  body { background-color: $bg-color-dark; color: $text-color-dark; }
  a.offscreen {
    &:focus, &:active, &:hover {
      background-color:$contrast-color-dark;
      color: $bg-color-dark; border: 1px dotted $text-color-dark;
    }
  }
  mark { color: $text-color-dark; background-color: darken($update-color, 10%); }

  del { text-decoration-color: $contrast-color-dark; }
}
