{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}

{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" itemscope itemtype="http://schema.org/Review">
  <link itemprop="mainEntityOfPage" href="{{ .RelPermalink }}#skip-to-content" />
  <header aria-labelledby="{{ anchorize .Title }}">
    {{ partial "header/post.html" . }}
    {{ with .Params.itemReviewed }}
    <meta itemprop="description" content="{{ .description }}" />
    {{- with .ratingValue }}<meta itemprop="ratingValue" content="{{ . }}" />{{- end }}
    <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{ .type }}">
      <link itemprop="url" itemid="#itemreviewed" href="{{ .url }}" />
      <meta itemprop="name" content="{{ .name }}" />
      {{ range .authors }}
      <meta itemprop="author" content="{{ . }}" />
      {{ end }}
      {{- with .isbn }}<meta itemprop="isbn" content="{{ . }}" />{{- end }}
    </span>
    <link itemprop="url" href="#itemreviewed" />
    {{ else }}
    {{ .Get }}
    {{ end }}
  </header>
  <section itemprop="reviewBody" class="content e-content" aria-label="Content" >
    {{ .Content }}
  </section>
  <footer>
    {{ partial "footer/webmentions.html" . }}
    {{ partial "footer/series.html" . }}
    {{ partial "footer/related-posts.html" . }}
    {{ partial "footer/licenses.html" . }}
    {{ partial "footer/image.html" . }}
  </footer>
</article>
{{ end }}
