{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}

{{ define "main" }}
  <article itemprop="mainEntityOfPage" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" itemscope itemtype="http://schema.org/Review">
    <header aria-labelledby="{{ anchorize .Title }}">
      {{ partial "header/post.html" . }}
      <link itemprop="author" href="#microdata-author" />
      <link itemprop="publisher" href="#microdata-org" />
      <link itemprop="isPartOf" href="{{ .Site.BaseURL }}" />
      <link itemprop="speakable" href="#skip-to-content" />
      <meta itemprop="wordCount" content="{{ .WordCount }}" />
      <meta itemprop="inLanguage" content="en-US" />
      <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{ with .Params.itemReviewedType }}{{ . }}{{ else }}Book{{ end }}">
        {{ with .Params.itemReviewed }}
          <link itemprop="url" href="{{ .url }}">
          <meta itemprop="name" content="{{ .name }}">
          {{ with .authors }}
          <meta itemprop="author" content="{{ . }}">
          {{ end }}
        {{ else }}
          {{ .Get }}
        {{ end }}
      </span>
    </header>
    <section itemprop="reviewBody" class="content e-content" aria-label="Content" >
      {{ .Content }}
    </section>
    <footer>
      {{ partial "footer/webmentions.html" . }}
      {{ partial "footer/series.html" . }}
      {{ partial "footer/related-posts.html" . }}
      {{ partial "footer/licenses.html" . }}
      {{ partial "footer/image.html" . }}
    </footer>
  </article>
{{ end }}
