{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}

{{ define "main" }}
<article property="sc:mainEntity" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" resource="#skip-to-content" typeof="sc:Review">
    <header aria-labelledby="{{ anchorize .Title }}">
      <link property="sc:mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
      {{ partial "header/post.html" . }}
      {{- with .Params.description }}<meta property="sc:description" content="{{ . | plainify }}" />{{- end }}
      {{- with .Params.ratingValue }}
      <span property="sc:reviewRating" typeof="sc:Rating">
        <meta property="sc:ratingValue">{{ . }}</meta>
      </span>
      {{- end }}
      <span property="sc:itemReviewed" typeof="sc:{{ with .Params.itemReviewedType }}{{ . }}{{ else }}Book{{ end }}">
        {{ with .Params.itemReviewed }}
          <link property="sc:url" href="{{ .url }}" />
          <meta property="sc:name" content="{{ .name }}" />
          {{ range .authors }}
          <meta property="sc:author" content="{{ . }}" />
          {{ end }}
          {{- with .isbn }}
          <meta property="sc:isbn" content="{{ . }}" />
          {{- end }}
        {{ else }}
          {{ .Get }}
        {{ end }}
      </span>
    </header>
    <section property="sc:reviewBody" class="content e-content" aria-label="Content" >
      {{ .Content }}
    </section>
    <footer>
      <hr class="hidden">
      {{ partial "footer/webmentions.html" . }}
      {{ partial "footer/series.html" . }}
      {{ partial "footer/related-posts.html" . }}
      {{ partial "footer/licenses.html" . }}
      {{ partial "footer/image.html" . }}
    </footer>
  </article>
{{ end }}
