{{- if isset .Params "webmentions" }}
<nav aria-labelledby="header-webmentions">
  <h2>Mentions</h2>
  <details>
    <summary id="header-webmentions">There {{ with .Params.webmentions | len }}{{ if eq . 1}} is {{ . }} mention{{ else }} are {{ . }} mentions{{ end }}{{ end }} of this post&hellip;</summary>
    <ul>
      {{- range .Params.webmentions }}
      <li>
        <a href="{{ .source }}" rel="nofollow">{{ if isset . "source_page_name" }}{{ .source_page_name }}{{ else }}{{ .source }}{{ end }}</a>
        {{- if isset . "source_author_name" }}
        by
        {{- if isset . "source_author_url" }}
        <a href="{{ .source_author_url}}" rel="nofollow">{{ .source_author_name }}</a>
        {{- else }}
        {{ .source_author_name }}
        {{- end }}
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </details>
</nav>
{{- end }}
