{{- if isset .Params "webmentions" }}
<section aria-labelledby="header-webmentions">
  <h2 id="header-webmentions">Mentions</h2>
  <form aria-label="Submit your mention URL" id="webmention-form" action="https://webmention.io/takeonrules.com/webmention" method="POST" >
    <fieldset>
      <legend id="mention-legend">Did you reply somewhere else to this post? Submit your reply's URL as a <a href="https://indieweb.org/webmention">webmention</a>.</legend>
    <input name="target" value="{{ .Permalink}}" type="hidden">
    <label for="mention-source">Enter Your Reply URL</label>: <input id="mention-source" class="input" name="source" placeholder="Your reply URL" required="required">
    <button type="submit" aria-describedby="mention-legend">Submit</button>
    <small><strong>Note:</strong> Any submitted <em>webmention</em> won't show up until I next "build" my site.</small>
    </fieldset>
  </form>
  <details aria-labelledby="mentions-summary">
    <summary id="mentions-summary">There {{ with .Params.webmentions | len }}{{ if eq . 1}} is {{ . }} mention{{ else }} are {{ . }} mentions{{ end }}{{ end }} of this post&hellip;</summary>
    <ul aria-labelledby="header-webmentions">
      {{- range .Params.webmentions }}
      <li role="comment">
        <a href="{{ .source }}" rel="nofollow">{{ if isset . "source_page_name" }}{{ .source_page_name }}{{ else }}{{ .source }}{{ end }}</a>
        {{- if isset . "source_author_name" }}
        by
        {{- if isset . "source_author_url" }}
        <a href="{{ .source_author_url}}" rel="nofollow">{{ .source_author_name }}</a>
        {{- else }}
        {{ .source_author_name }}
        {{- end }}
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </details>
</section>
{{- end }}
