{{ partial "tags-and-published-date.html" . }}
<dl>
  <dt>Blog Posts:</dt>
  {{- if .PrevInSection }}
    <dd>
      <a href="{{ .PrevInSection.Permalink }}" class="prev" aria-label="Previous post">previous</a>
    </dd>
  {{- end }}
  {{- if .NextInSection }}
    <dd>
      <a href="{{ .NextInSection.Permalink }}" class="next" aria-label="Next posts">next</a>
    </dd>
  {{- end }}
{{- with .Params.series }}
  {{- range (where $.Site.Data.series "key" "eq" .) }}
    {{- $title := .title }}
    <dt><a name='skip-to-series-navigation'></a>
      Series “<a href="{{ "series" | absURL }}/{{ .key | urlize }}" rel="bookmark">{{ $title }}</a>”:
    </dt>
    {{- $series := where $.Site.Pages "Params.series" .key }}
    {{- $prev := where $series ".PublishDate" "lt" $.Page.PublishDate }}
    {{- $next := where $series ".PublishDate" "gt" $.Page.PublishDate }}
    {{- range first 1 $prev }}
      <dd><a class="prev" aria-label="Previous {{ $title }} post" href="{{ .Permalink }}">previous</a></dd>
    {{- end}}
    {{- range last 1 $next }}
      <dd><a class="next" aria-label="Next {{ $title }} post" href="{{ .Permalink }}">next</a></dd>
    {{- end}}
  {{- end}}
{{- end }}
</dl>
