<header aria-label="Site-wide header" role="banner">
  <nav class="group" role="navigation" aria-label="Site-wide navigation">
    <a href="#skip-to-content" accesskey="c" title="Skip to Content" class="offscreen">Skip to Content</a>
    {{- if ne .IsHome true }}
      <a href="#skip-to-breadcrumbs" accesskey="b" title="Skip to Breadcrumbs" class="offscreen">Skip to Breadcrumbs</a>
    {{- end }}
    {{- with .Params.tags }}
      <a href="#skip-to-tags" accesskey="t" title="Skip to Page's Tags" class="offscreen">Skip to Page's Tags</a>
    {{- end }}
    {{- with .Params.series }}
      <a href="#skip-to-series-navigation" accesskey="s" title="Skip to Page's Series Navigation" class="offscreen">Skip to Page's Series Navigation</a>
    {{- end }}
    {{- if eq .Type "post" }}
      <a href="#skip-to-related-posts" accesskey="r" title="Skip to Page's Related Posts" class="offscreen">Skip to Page's Related Posts</a>
    {{- end }}
    {{- with .Params.licenses }}
      <a href="#skip-to-licenses" accesskey="l" title="Skip to Page's Licenses" class="offscreen">Skip to Page's Licenses</a>
    {{- end }}
    <hr>
    <h1><a accesskey="1" href="{{ .Site.BaseURL }}" {{ if eq (string $.Page.Permalink) (string .Site.BaseURL) }}class="active"{{end}} title="Homepage of {{ .Site.Title }}" aria-label="Homepage of {{ .Site.Title }}">{{ .Site.Title }}</a></h1>
    {{- range $idx, $item := .Site.Menus.topnav }}
      <a accesskey="{{ $item.Identifier }}" href="{{ $item.URL }}" {{ if eq $.Page.RelPermalink $item.URL }}class="active"{{ end }} title="{{ if $item.Title }}{{ $item.Title }}{{ else }}{{ $item.Name }} page{{ end }}">{{ $item.Name }}</a>
    {{- end }}
  </nav>
  <form class="hide-when-javascript-disabled" role="search" method="get" action="/search/" aria-label="Site-wide search" id="cse-search-box" target="_blank">
    <input name="q" accesskey="/" type="text" aria-label="Search"/>
    <input name="sa" type="submit" value="Search" />
  </form>
  <script>
    var form = document.getElementById('cse-search-box');
    form.setAttribute("class", "javascript-enabled");
  </script>
  <noscript>
    <form role="search" method="get" action="https://duckduckgo.com/" aria-label="Site-wide" id="cse-search-box" target="_blank">
      <input name="q" type="hidden" value="site:{{ .Site.Params.siteHost }}" />
      <input type="submit" value="Search via DuckDuckGo" />
    </form>
  </noscript>
  <hr>
</header>
