<header aria-label="Site-wide header" role="banner">
  <nav class="group" role="navigation" aria-label="Site-wide navigation">
    <h2><a href="#skip-to-content" title="Skip to Content" class="offscreen">Skip to Content</a></h2>
    {{- if ne .IsHome true }}
      <h2><a href="#skip-to-breadcrumbs" title="Skip to Breadcrumbs" class="offscreen">Skip to Breadcrumbs</a></h2>
    {{- end }}
    {{- with .Params.tags }}
      <h2><a href="#skip-to-tags" title="Skip to Page's Tags" class="offscreen">Skip to Page's Tags</a></h2>
    {{- end }}
    {{- with .Params.series }}
      <h2><a href="#skip-to-series-navigation" title="Skip to Page's Series Navigation" class="offscreen">Skip to Page's Series Navigation</a></h2>
    {{- end }}
    {{- if eq .Type "post" }}
      <h2><a href="#skip-to-related-posts" title="Skip to Page's Related Posts" class="offscreen">Skip to Page's Related Posts</a></h2>
    {{- end }}
    {{- with .Params.licenses }}
      <h2><a href="#skip-to-licenses" title="Skip to Page's Licenses" class="offscreen">Skip to Page's Licenses</a></h2>
    {{- end }}
    <h1><a id="kdn_h" href="{{ .Site.BaseURL }}" {{ if eq (string $.Page.Permalink) (string .Site.BaseURL) }}class="active"{{end}} title="Homepage of {{ .Site.Title }}" aria-label="Homepage of {{ .Site.Title }}">{{ .Site.Title }}</a></h1>
    {{- range .Site.Menus.topnav }}
      <h2><a id="kdn_{{ substr .Title 0 1 | lower}}" href="{{ .URL }}" {{ if eq $.Page.URL .URL }}class="active"{{ end }} title="{{ if .Title }}{{ .Title }}{{ else }}{{ .Name }} page{{ end }}">
        {{ .Name }}
      </a></h2>
    {{- end }}
  </nav>
  <form class="hide-when-javascript-disabled" role="search" method="get" action="/search/" aria-label="Site-wide search" id="cse-search-box" target="_blank">
    <input name="q" id="kdn_slash" type="text" aria-label="Search"/>
    <input name="sa" type="submit" value="Search" />
  </form>
  <script>
    var form = document.getElementById('cse-search-box');
    form.setAttribute("class", "javascript-enabled");
  </script>
  <noscript>
    <form role="search" method="get" action="https://duckduckgo.com/" aria-label="Site-wide" id="cse-search-box" target="_blank">
      <input name="q" type="hidden" value="site:{{ .Site.Params.siteHost }}" />
      <input type="submit" value="Search via DuckDuckGo" />
    </form>
  </noscript>
</header>
