{{ partial "tags-and-published-date.html" . }}
<dl>
  <dt>Blog Posts:</dt>
  {{- if .PrevInSection }}
    <dd>
      <a href="{{ .PrevInSection.Permalink }}" class="prev" aria-label="Previous post">previous</a>
    </dd>
  {{- end }}
  {{- if .NextInSection }}
    <dd>
      <a href="{{ .NextInSection.Permalink }}" class="next" aria-label="Next posts">next</a>
    </dd>
  {{- end }}
{{- with .Params.series }}
    {{- $title := $.Site.Param (printf "series-%s" .) }}
    {{- if eq $title nil }}{{ $title = humanize . | title }}{{ end }}
    <dt><a name='skip-to-series-navigation' href="{{ "series" | absURL }}/{{ . | urlize }}" rel="bookmark">{{ $title }}</a>:</dt>
    {{- $series := where $.Site.Pages "Params.series" . }}
    {{- $prev := where $series ".PublishDate" "lt" $.Page.PublishDate }}
    {{- $next := where $series ".PublishDate" "gt" $.Page.PublishDate }}
    <dd></dd>
    {{- range first 1 $prev }}
      <dd><a class="prev" aria-label="Previous {{ $.Page.Params.series }} post" href="{{ .Permalink }}">previous</a></dd>
    {{- end}}
    {{- range last 1 $next }}
      <dd><a class="next" aria-label="Next {{ $.Page.Params.series }} post" href="{{ .Permalink }}">next</a></dd>
    {{- end}}
{{- end }}
</dl>
