<nav aria-labelledby="breadcrumbs-label" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
  <span id="breadcrumbs-label" class="label">Breadcrumbs: </span>
  {{ template "breadcrumbnav" (dict "p1" . "p2" . "depth" 3) }}
</nav>
{{- if in .Site.Params.paginatedSections .Type -}}
<nav aria-labelledby="post-neighbors-label" class="paginator breadcrumbs">
  <span id="post-neighbors-label" class="label">Post Neighbors: </span>
  {{- with .PrevInSection }}<a itemprop="relatedLink" accesskey="p" href="{{ .Permalink }}" title="{{ .Title }}" rel="prev"><u>P</u>revious post</a>&nbsp;{{- end }}{{- with .NextInSection }}|&nbsp;<a itemprop="relatedLink" accesskey="n" href="{{ .Permalink }}" title="{{ .Title }}" rel="next"><u>N</u>ext post</a>{{- end }}
</nav>
{{- end }}
{{- define "breadcrumbnav" }}
  {{- if .p1.Parent }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "depth" (sub .depth 1) )}} /
  {{- else if not .p1.IsHome }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "depth" (sub .depth 1) ) }} /
  {{- end }}
  <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="{{ .p1.Permalink }}" class="{{ if eq .p1 .p2 }}active{{ end }}">
      <span itemprop="name">{{ if eq .p1.Permalink .p1.Site.BaseURL }}<u>H</u>ome{{ else }}{{ .p1.Title }}{{ end }}</span>
      <meta itemprop="position" content="{{ .depth }}" />
    </a>
  </span>
{{- end }}
