<nav aria-labelledby="breadcrumbs-label" class="breadcrumbs" typeof="BreadcrumbList" role="list">
  <span id="breadcrumbs-label" property="name" class="label">Breadcrumbs: </span>
  {{ template "breadcrumbnav" (dict "p1" . "p2" . "depth" 3 "site" .Site) }}
</nav>
{{- if in .Site.Params.paginatedSections .Type -}}
<nav aria-labelledby="post-neighbors-label" class="paginator breadcrumbs">
  <span id="post-neighbors-label" class="label">Post Neighbors: </span>
  {{- with .PrevInSection }}<a property="relatedLink" accesskey="p" href="{{ .Permalink }}" title="{{ .Title }}" rel="prev"><u>P</u>revious post</a>&nbsp;{{- end }}{{- with .NextInSection }}|&nbsp;<a property="relatedLink" accesskey="n" href="{{ .Permalink }}" title="{{ .Title }}" rel="next"><u>N</u>ext post</a>{{- end }}
</nav>
{{- end }}
{{- with .Params.series -}}{{- range (where $.Site.Data.series "key" "eq" .) }}
{{- $title := .title }}
<nav aria-labelledby="series-itemscope" class="series breadcrumbs">
  {{- $series := where $.Site.Pages "Params.series" .key }}
  {{- $seriesUrl := delimit (slice ("series" | absURL) ( .key | urlize )) "/" }}
  <span class="label">Part of Series </span><span resource="{{ .RelPermalink }}#series-itemscope" id="series-itemscope" typeof="CreativeWorkSeries"><cite property="headline"><a property="url" accesskey="s" rel="tag" href="{{ $seriesUrl }}" rel="bookmark">{{ $title }}</a></cite></span>
  {{- $prev := where $series ".PublishDate" "lt" $.Page.PublishDate }}
  {{- range first 1 $prev }}| <a property="relatedLink" accesskey="v" rel="prev" title="{{ .Title }}" href="{{ .Permalink }}">Pre<u>v</u>ious in Series</a>&nbsp;{{- end }}
  {{- $next := where $series ".PublishDate" "gt" $.Page.PublishDate }}
  {{- range last 1 $next }}| <a property="relatedLink" accesskey="x" rel="next" title="{{ .Title }}" href="{{ .Permalink }}">Ne<u>x</u>t in Series</a>{{- end }}
</nav>
{{- end }}{{- end }}
{{- define "breadcrumbnav" }}
  {{- if .p1.Parent }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "depth" (sub .depth 1) "site" .site )}} /
  {{- else if not .p1.IsHome }}
    {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "depth" (sub .depth 1) "site" .site) }} /
  {{- end }}
  <span role="listitem" property="itemListElement" typeof="ListItem">
    <a property="item" href="{{ .p1.Permalink }}" class="{{ if eq .p1 .p2 }}active{{ end }}">
      <span property="name">
        {{- if eq .p1.Permalink .p1.Site.BaseURL }}
        Home
        {{- else if (and (eq .p1.Type "series") (eq .p1.Kind "term")) }}
        {{- range (where .site.Data.series "key" .p1.Title) }}
        {{ .title }}
        {{- end }}
        {{- else }}
        {{ .p1.Title }}
        {{- end }}
      </span>
      <meta property="position" content="{{ .depth }}" />
    </a>
  </span>
{{- end }}
