<link itemprop="author" href="#microdata-author" />
<link itemprop="publisher" href="#microdata-org" />
By <span class="u-author p-author"><a rel="author" class="u-url" href="{{ .Site.BaseURL }}">{{ .Site.Params.copyrightHolder }}</a></span> on
{{ if eq .Lastmod .Date }}
  <time itemprop="datePublished" class="dt-published" aria-label="Published On" datetime="{{ dateFormat $.Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
{{ else }}
  <del><time itemprop="datePublished" class="dt-published" aria-label="Published On" datetime="{{ dateFormat $.Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date }}</time></del>
  <ins><time itemprop="dateModified" class="dt-updated" aria-label="Updated On" datetime="{{ .Lastmod.Format $.Site.Params.iso8601_format }}">{{ .Lastmod.Format "2006-01-02" }}</time></ins>
{{ end }}
::
{{- define "tagmd" }}
  <a rel="tag" aria-label="Posts tagged with “{{ .tag }}”" href="{{ "tags" | absURL }}/{{ .tag | urlize }}">
    #<span class="p-category" itemprop="keywords">{{ .tag | anchorize }}</span>
    {{- if isset .site.Data.tags .tag }}
      {{- $tag := index .site.Data.tags .tag }}
      {{- $itemid := $tag.itemid }}
      {{- $alternateName := $tag.abbr }}
      {{ if isset $tag "abbr"}}
        {{- $abbr := index .site.Data.abbrs $tag.abbr }}
        {{- if isset $abbr "itemid" }}
          {{- $itemid = $abbr.itemid }}
          {{- $alternateName = $abbr.title }}
        {{- end }}
      {{- end }}
      <span itemprop="about" itemtype itemscope="http://schema.org/Thing">
        {{ with $alternateName }}
          <meta itemprop="name" content="{{ . }}">
          <link itemprop="url" href="{{ $itemid }}">
        {{ end }}
      </span>
    {{- end }}
  </a>
{{- end }}

{{- with .Params.tags }}
{{- $tags := . }}{{- $last_tag := . | last 1 }}
{{- range ($tags | complement $last_tag) }}
  {{ template "tagmd" (dict "tag" . "page" $.Page "site" $.Site )}}&nbsp;
{{- end }}{{- range $last_tag }}
  {{ template "tagmd" (dict "tag" . "page" $.Page "site" $.Site )}}
{{- end }}
{{- end }}
