<p>
By <span class="u-author p-author"><a rel="author" class="u-url" href="{{ .Site.BaseURL }}contact-me/">{{ .Site.Params.copyrightHolder }}</a></span> on
{{ if eq .Lastmod .Date }}
  <time property="sc:datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
  <meta property="sc:dateModified" content="{{ dateFormat "2006-01-02" .Date }}" />
{{ else }}
  <del datetime="{{ .Lastmod.Format "2006-01-02" }}"><time property="sc:datePublished" aria-label="Published On" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time></del>
  <ins datetime="{{ .Lastmod.Format "2006-01-02" }}"><time property="sc:dateModified" aria-label="Updated On" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></ins>
{{- end }}
{{- define "tagmd" }}
  {{ $entry := (index (where .site.Data.glossary "tag" "eq" .tag) 0) }}
  {{ if isset $entry "itemid" }}
  <a rel="tag" href="{{ "tags" | absURL }}/{{ .tag | urlize }}" role="listitem" class="p-category">{{ .tag | anchorize }}</a><span property="sc:keywords" typeof="sc:DefinedTerm"><meta property="sc:name" content="{{ .tag | anchorize }}" />{{- with $entry.title }}<meta property="sc:alternateName" content="{{ . }}" />{{- end }}<link property="sc:sameAs" href="{{ $entry.itemid }}" /></span>
  {{- else }}
  <a rel="tag" href="{{ "tags" | absURL }}/{{ .tag | urlize }}" class="p-category" role="listitem" property="sc:keywords">{{ .tag | anchorize }}</a>
  {{- end }}
{{- end }}
{{- with .Params.tags }}:: <span role="list" aria-label="Tags for “{{ $.Page.Title }}”">{{- $tags := . }}{{- $last_tag := . | last 1 }}{{- range ($tags | complement $last_tag) }}{{- template "tagmd" (dict "tag" . "page" $.Page "site" $.Site )}} <span class="hidden"> • </span> {{- end }}{{- range $last_tag }}{{- template "tagmd" (dict "tag" . "page" $.Page "site" $.Site )}}{{- end }}</span>{{- end }}
</p>