<footer class="group credits" aria-label="Site-wide footer">
  <hr  />
  <small>
    &copy;<time datetime="{{ now.Format "2006" }}" property="sc:copyrightYear">{{ now.Format "2006" }}</time>&nbsp;
    <span id="tor-author" resource="{{ $.Site.BaseURL }}#tor-author" property="sc:copyrightHolder" typeof="sc:Person">
      <link property="sc:contactPoint" href="{{ $.Site.BaseURL}}contact-me/" />
      <span class="p-name" property="sc:name">
        <a class="h-card" rel="me" href="{{ .Site.BaseURL }}">
          {{ .Site.Params.copyrightHolder }}
        </a>
        {{- range .Site.Params.identifiers }}
        <link property="sc:identifier" href="{{ . }}" />
        {{- end }}
      </span>
    </span>
  </small>
  <br />
  <br />
  <nav aria-label="Site-wide Footer Links" typeof="sc:SiteNavigationElement">
    <meta property="sc:name" content="Site-wide Footer Links" />
    <small>
      <a accesskey="o" property="sc:hasPart" href="{{ $.Site.BaseURL }}contact-me/">Contact Me</a> &middot; <a{{ if ne .RelPermalink "/site-map/" }} accesskey="g"{{ end }} property="sc:hasPart" href="/site-map/changelog/">Changelog</a> &middot; <a{{ if ne .RelPermalink "/site-map/" }} accesskey="y"{{ end }} property="sc:hasPart" href="/privacy-policy/">Privacy Policy</a></small>
  </nav>
  <span property="sc:isPartOf" typeof="sc:WebSite">
    <link property="sc:url" href="{{ $.Site.BaseURL }}" />
    <meta property="sc:name" content="{{ $.Site.Params.title }}" />
  </span>
</footer>
