<footer class="group credits" aria-label="Site-wide footer">
  <hr class="slender">
  <span itemid="#microdata-author" itemscope itemType="http://schema.org/Person">
    &copy;{{ now.Format "2006" }}&nbsp;
    <a class="h-card" rel="me" href="{{ .Site.BaseURL }}">
      <span class="p-name" itemprop="name">{{ .Site.Params.copyrightHolder }}</span>
    </a>
    <br /><br />
    <span itemprop="contactPoint" itemscope itemType="http://schema.org/ContactPoint">
      <a accesskey="o" itemprop="url" href="{{ $.Site.BaseURL }}contact-me/">C<u>o</u>ntact Me</a>
    </span> | <a{{ if ne .RelPermalink "/site-map/" }} accesskey="g"{{ end }} href="/site-map/changelog/">Chan<u>g</u>elog</a>
  </span>
  <span itemid='#microdata-org' itemscope itemType='http://schema.org/Organization' >
    <meta itemprop="name" content="Take on Rules" />
    <link itemprop="url" href="https://takeonrules.com" />
    <span itemid="#microdata-logo" itemprop="logo" itemscope itemType="http://schema.org/ImageObject">
      <link itemprop="url" href="{{ $.Site.BaseURL }}images/amp-logo-takeonrules.wordpress.com-banner.jpg" />
    </span>
  </span>
</footer>
