<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{- with $.Site.Params.webmentionUrl }}<link rel="webmention" href="{{ . }}" />{{ end }}
{{- with $.Site.Params.pingbackUrl }}<link rel="pingback" href="{{ . }}" />{{ end }}
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<style media="screen,print">
  {{ (resources.Get "css/tufte.scss" | resources.ToCSS | resources.Minify ).Content | safeCSS }}
</style>
<style media="print">
  {{ (resources.Get "css/print.scss" | resources.ToCSS | resources.Minify).Content | safeCSS }}
</style>
{{ range .Site.Home.AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title | safeHTML }} {{ .Name }} Feed" />
{{ end -}}
{{- range .Site.Menus.me_elsewhere }}
<link rel="me" href="{{ .URL }}" title="{{ .Name }}" />
{{- end }}
