{{- if (isset .Params "images") }}
<p>
  <span class="marginnote marginfigure" role="note">
    {{- range first 1 .Params.images }}
      {{- $original := resources.Get .src }}
      {{- $result   := $original.Resize "x200" }}
      <a href="{{ $original.RelPermalink }}" title="See full-size image">
        <img class="fullwidth" src="{{ $result.RelPermalink }}" {{ if isset . "alt" }}alt="{{ .alt }}"{{ end }} data-width="{{ $result.Width }}" data-height="{{ $result.Height }}"/>
      </a>
    {{- end }}
  </span>
</p>
{{- end }}
