{{- with .Params.series -}}{{- range (where $.Site.Data.series "key" "eq" .) }}{{- $title := .title }}
:: <span class="label">Series:</span>
{{- $series := where $.Site.Pages "Params.series" .key }}
{{- $prev := index (where $series ".PublishDate" "lt" $.Page.PublishDate) 0 }}
{{- if $prev }} <a rel="prev" href="{{ $prev.RelPermalink }}" title="Previous post in &ldquo;{{ $title }}&rdquo; is &ldquo;{{ $prev.Title }}&rdquo;"><small>&lt;</small></a>{{- else }} <small role="presentation">&lt;</small>{{- end }}

{{- $seriesUrl := delimit (slice ("series" | absURL) ( .key | urlize )) "/" }}
<span itemid="{{ .RelPermalink }}#series-itemscope" id="series-itemscope" itemscope itemtype="http://schema.org/CreativeWorkSeries"><cite itemprop="headline"><a itemprop="url" href="{{ $seriesUrl }}">{{ $title }}</a></cite></span>
{{- $next := index (where $series ".PublishDate" "gt" $.Page.PublishDate) 0 }}
{{- if $next }} <a rel="next" href="{{ $next.RelPermalink }}" title="Next post in &ldquo;{{ $title }}&rdquo; is &ldquo;{{ $next.Title }}&rdquo;"><small>&gt;</small></a>{{- else }} <small role="presentation">&gt;</small>{{- end }}
{{- end }}{{- end }}
