{{- if isset .Params "description" }}
{{ .Params.description | markdownify | replaceRE "^([^<p>].*)$" "<p>$1</p>" | safeHTML }}
{{- else }}
{{ .RawContent | replaceRE "{{[%<][^}]marginfigure[^}]*}}" "" | replaceRE "{{[%<][^}](sidenote|marginnote|maincolumn)[^}]*}}" "=~=~=" | replaceRE "=~=~=[^{]*{{[%<][^}]*/(sidenote|marginnote)[^}]*}}" "" | markdownify | truncate 450 | replaceRE "{{[%<][^<]*" "" | replaceRE "^([^<p>].*)$" "<p>$1</p>" | safeHTML }}
{{- end }}
<p><a href="{{ .RelPermalink }}">Read more&hellip;</a></p>
