<dl>
  {{ with .Params.tags }}
    <dt id="skip-to-tags">Tags:</dt>
    {{ range . }}
        <dd role="contentinfo" class="tag"><a rel="tag" href="{{ "tags" | absURL }}/{{ . | urlize }}" aria-label="All posts with tag {{ . }}">{{ . }}</a></dd>
    {{ end }}
  {{ end }}
  {{ with .Params.series }}
    <dt>Series:</dt>
    {{- range (where $.Site.Data.series "key" "eq" .) }}
    <dd role="contentinfo">
      <a rel="tag" href="{{ "series" | absURL }}/{{ .key | urlize }}" aria-label="All posts in series {{ .title }}">{{ .title }}</a>
    </dd>
    {{- end }}
  {{ end }}
  <dt>Published:</dt>
  <dd role="contentinfo"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></dd>
  {{ if ne .Lastmod .Date }}
    <dt>Modified:</dt>
    <dd role="contentinfo"><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></dd>
  {{ end }}
</dl>
