<dl class="metadata">
  {{ with .Params.tags }}
    <dt>Tags:<a name="skip-to-tags"> </a></dt>
    {{ range . }}
        <dd class="tag"><a href="{{ "tags" | absURL }}/{{ . | urlize }}" aria-label="All posts with tag {{ . }}">{{ . }}</a></dd>
    {{ end }}
  {{ end }}
  <dt>Published:</dt>
  <dd><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></dd>
  {{ if ne .Lastmod .Date }}
    <dt>Modified:</dt>
    <dd><time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time></dd>
  {{ end }}
</dl>
