{{ define "main" }}
  <article property="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" resource="{{ .Permalink }}#skip-to-content" typeof="WebPageElement">
    <header>
      <link property="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
      <h1 property="name" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
    </header>
    <section class="e-content content">
      <figure property="image" typeof="ImageObject" role="note">
        <img property="url" src="/images/logo.jpg"  data-widht="309" data-height="250" alt="An abstract wooden chicken surveys a chessboard littered with game pieces."/>
        <figcatpion property="caption">The Chicken of Discovery has found nothing.</figcatpion>
      </figure>

      <p>Welp, it looks like we couldn't find what you requested.</p>

      <p>Maybe try a site <a href="/search/">search</a>? Or <a href="/contact-me/">contacting me</a> to see if I can help you find it. <em>I did migrate my site, and while I tried to avoid broken pages, I'm not perfect.</em></p>
    </section>
  </article>
{{ end }}
