{{ define "head-title" }}
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
  {{- if eq 1 $paginator.PageNumber }}
    <title>{{ .Title }}</title>
  {{- else }}
    <title>{{ .Title }} (page {{ $paginator.PageNumber }})</title>
  {{- end }}
{{ end }}
{{ define "breadcrumb" }}
<section id="skip-to-article-context-navigation" aria-label="Context Navigation around Homepage">
    {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
    <nav aria-labelledby="blog-pagination-label" class="paginator">
      <span class="label" id="blog-pagination-label">Blog postings pagination </span>
      {{- with $paginator }}
      {{- if .HasNext }}<a href="{{ .Next.URL }}" rel="prev">Previous posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;|&nbsp;{{- end }}{{- if .HasPrev }}<a href="{{ .Prev.URL }}" rel="next">Next posts</a>{{- end }}
      Page {{ .PageNumber }} of {{ .TotalPages }}
    {{- end }}
    </nav>
    <div class="feeds" aria-labelledby="site-feeds-label" role="list">
      <span id="site-feeds-label" class="label">Site feeds </span>
      <a role="listitem" href="{{ .Site.BaseURL }}index.atom">ATOM feed</a> | <a role="listitem" href="{{ .Site.BaseURL }}index.xml">RSS feed</a> | <a role="listitem" href="{{ .Site.BaseURL }}index.json">JSON feed</a>
    </div>
    <hr class="hidden">
</section>
{{ end }}
{{ define "main" }}
<article property="sc:mainEntity" aria-labelledby="blog-posts" id="skip-to-content" resource="#skip-to-content" typeof="sc:Blog">
  <link property="sc:mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
  <h1 id="blog-posts">Blog Posts</h1>
  <ol aria-labelledby="skip-to-content">
  {{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.paginatedSections) .Site.Params.pagination_size }}
  {{ range $index, $object := $paginator.Pages }}
  {{ with $object }}
  <li property="sc:blogPost" typeof="sc:BlogPosting" aria-labelledby="{{ anchorize .Title }}">
    <h2 id="{{ anchorize .Title }}">
      <cite property="sc:headline">
        <a property="sc:mainEntityOfPage" href="{{ .RelPermalink }}" rel="bookmark">
          {{ .Title }}
        </a>
      </cite>
    </h2>
    {{- if isset .Params "headline" }}
      <h3 property="sc:alternateHeadline">{{- .Params.headline | markdownify }}</h3>
    {{- end }}
      <meta property="sc:wordCount" content="{{ .WordCount }}" />
      <link property="sc:author" href="{{ $.Site.BaseURL }}#tor-author" />
      <link property="sc:publisher" href="{{ $.Site.BaseURL }}#tor-organization" />
      {{ partial "dates-and-tags.html" . }}
      {{ with .Params.images }}
        {{ range . }}
          <link property="sc:image" href="{{ .src }}" />
        {{ end }}
      {{ else }}
        {{ partial "footer/image.html" . }}
      {{ end }}
  </li>
  {{- end }}
  {{- end }}
  </ol>
  <nav class="paginator" aria-labelledby="blog-pagination-label">
    {{- with $paginator }}
      {{- if .HasNext }}<a href="{{ .Next.URL }}" rel="prev">Previous posts</a>{{- end }}{{- if and .HasNext .HasPrev}}&nbsp;|&nbsp;{{- end }}{{- if .HasPrev }}<a href="{{ .Prev.URL }}" rel="next">Next posts</a>{{- end }}
      Page {{ .PageNumber }} of {{ .TotalPages }}
    {{- end }}
  </nav>
</article>
{{ end }}
