{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") .Site.Params.pagination_size }}
  <a name="skip-to-content" aria-label="Anchor for content"> </a>
  <h1 id="blog-posts">Blog Posts</h1>
  <nav role="navigation" aria-label="Blog postings pagination" class="paginator">
    {{ partial "paginator.html" $paginator }}
  </nav>
  <ol aria-labelledby="blog-posts">
  {{ range $index, $object := $paginator.Pages }}
  {{ with $object }}
  <li>
    <header>
      <h2><a href="{{ .RelPermalink }}" id="ctrl+mod+{{ $index }}" rel="bookmark"><cite>{{ .Title }}</cite></a></h2>
      <dl>
        {{- with .Date }}<dt>Published</dt><dd><time datetime="{{ dateFormat $.Site.Params.iso8601_format . }}">{{ dateFormat "2006-01-02" . }}</time></dd>{{- end }}
        {{ if ne .Lastmod .Date }}
          <dt>Last Modified</dt>
          <dd><time datetime="{{ .Lastmod.Format $.Site.Params.iso8601_format }}">{{ .Lastmod.Format "2006-01-02" }}</time></dd>
        {{ end }}
        {{- with .Params.tags }}
          <dt>Tags</dt>
          {{ range . }}
            <dd><a rel="tag" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></dd>
          {{ end }}
        {{- end }}
        {{- with .Params.series }}
          {{- range (where $.Site.Data.series "key" "eq" .) }}
            {{- $title := .title }}
            <dt>Series</dt>
            <dd><a href="{{ "series" | absURL }}/{{ .key | urlize }}" rel="bookmark">{{ $title }}</a></dd>
          {{- end }}
        {{- end }}
      </dl>
    </header>
  </li>
  {{ end }}
  {{ end }}
  </ol>
  <nav aria-hidden="true" class="paginator">
    {{ partial "paginator.html" $paginator }}
  </nav>
{{ end }}
