{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  {{- $slug := replaceRE "^/licenses/([^/]*)/$" "$1" .RelPermalink }}
  {{- $title := .Title }}
  {{ with index (where $.Site.Data.licenses "Key" "eq" $slug) 0 }}
  <header>
    <link itemprop="mainEntityOfPage" href="{{ $.Page.RelPermalink }}" />
    <h1 itemprop="name" class="p-name" id="{{ anchorize $title }}">{{ .Name }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  {{- with .Description }}
  <section itemprop="about">
    {{ . | safeHTML }}
  </section>
  {{- end }}
  {{- end }}
  <section>
    {{- range .Data.Pages.GroupByDate "2006" }}
    <details>
      <summary class="year">{{ .Key }} ({{ len .Pages }})</summary>
      <dl class="group">
        {{- range .Pages }}
        <dt><time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time></dt>
        <dd><cite><a href="{{ .Permalink}}">{{ .Title }}</a></cite></dd>
        {{- end }}
      </dl>
    </details>
    {{ end }}
  </section>
</article>
{{ end }}
