<h1 property="sc:headline" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
<meta property="sc:name" content="{{ .Title }}" />
{{- with .Params.headline }}
<h2 property="sc:alternativeHeadline">{{ . }}</h2>
{{- end }}
<link property="sc:author" href="{{ $.Site.BaseURL }}#microdata-author" />
<link property="sc:publisher" href="{{ $.Site.BaseURL }}#microdata-org" />
<link property="sc:url" href="{{ .Permalink }}" />
<meta property="sc:speakable" content="#skip-to-content" />
<meta property="sc:wordCount" content="{{ .WordCount }}" />
<meta property="sc:inLanguage" content="en-US" />
{{ partial "dates-and-tags.html" . }}
