{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
{{- $context := . }}
{{- $termTitle := .Title }}
{{- $data := .Data }}
<article class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize $termTitle }}">
  {{- range first 1 (where $.Site.Data.syndications "key" "eq" .Title ) }}
  <header>
    <h1 class="p-name" id="{{ anchorize $termTitle }}">Syndications for {{ .title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section class="e-content">
    <p>A list of all of the posts that I syndicate to <a href="{{ .url }}">{{ .title }}</a>.</p>

    <ul>
      {{ $lastInstance := sub (len $data.Pages) 1 }}
      {{- range $index, $entry := sort $data.Pages "Date" "desc" }}
      {{- with $entry }}
      <li>
        <time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time> &middot;
        <cite><a href="{{ .Permalink}}">{{ .Title }}</a></cite>
      </li>
      {{- end }}
      {{- end }}
    </ul>
  </section>
  {{- end }}
</article>
{{ end }}
