{{- $game := .Get "game" }}
{{- $cite := .Get "cite" }}
{{- $cite_url := .Get "cite_url" }}
{{- $scratchKey := false }}
{{- if $game }}
{{- $entry := index (where $.Site.Data.glossary "game" "eq" $game) 0 }}
{{- $cite = $entry.title }}
{{- $cite_url = $entry.offer }}
{{- $scratchKey = printf "linkToGame-%s" $game }}
{{- end }}
{{- $post := .Get "post" }}
<blockquote property="sc:citation" class="h-cite {{- with .Get "epigraph" }} epigraph{{- end }}" {{- if($cite_url) }} cite="{{ $cite_url }}"{{ end }}>
{{ if .Get "preWhiteSpace" }}
<pre class="preWhiteSpace">{{ .Inner }}</pre>
{{ else }}
{{ .Inner | markdownify }}
{{ end }}
{{- if .IsNamedParams }}
<footer>&mdash;
{{- with .Get "pre" }}
<span class="p-author h-card">{{ . | markdownify }}{{- if(or (or $cite $cite_url) $post) }}, {{ end }}</span>
{{- end }}{{- if $scratchKey }}<cite>{{- if (.Page.Scratch.Get $scratchKey) }}<cite>{{- if $cite }}{{- $cite }}{{- else }}{{- $cite_url }}{{- end }}</cite>{{- else }}<a href="{{ $cite_url }}" class="u-url p-name" rel="cite">{{- if $cite }}{{- $cite }}{{- else }}{{- $cite_url }}{{- end }}</a>{{- end }}</cite>
{{- else if $cite_url }}<cite><a href="{{ $cite_url }}" class="u-url p-name" rel="cite">{{- if $cite }}{{- $cite }}{{- else }}{{- $cite_url }}{{- end }}</a></cite>{{- else }}<cite>{{- if $cite }}{{- $cite }}{{- else }}{{- $cite_url }}{{- end }}</cite>{{- end }}
{{- if($post) }}{{ partial "unparagraphy.html" $post }}{{- end }}
</footer>
{{- end }}
</blockquote>
{{- if $scratchKey }}{{- .Page.Scratch.Set $scratchKey "t" }}{{- end }}