{{- $cite := .Get "cite" }}
{{- $cite_url := .Get "cite_url" }}
{{- $post := .Get "post" }}
<blockquote{{- if($cite_url) }} cite="{{ $cite_url }}"{{ end }}>
{{ partial "paragraphy.html" .Inner }}
{{- if .IsNamedParams }}
<footer>
{{- with .Get "pre" }}
&mdash; {{ . | markdownify }}{{- if(or (or $cite $cite_url) $post) }}, {{ end }}
{{- end }}
{{- if($cite) }}
<cite>
{{- if($cite_url) }}
<a href="{{ $cite_url }}" class="u-in-reply-to" rel="in-reply-to">{{ $cite | markdownify }}</a>
{{- else }}
{{ $cite | markdownify }}
{{- end }}
</cite>
{{- else if($cite_url) }}
<cite><a href="{{ $cite_url }}" class="u-in-reply-to" rel="in-reply-to">{{ $cite_url }}</a></cite>
{{- end }}
{{- if($post) }}{{ $post | markdownify }}{{ end }}
</footer>
{{- end }}
</blockquote>
