{{/*
Parameters:

@param key - required for lookup of epigraph entry

TODO: Cache the author and work

*/}}
{{- $key := .Get "key" | upper }}
{{- $entry := index (where $.Site.Data.epigraphs "key" "eq" $key) 0 }}
<blockquote class="h-cite epigraph">
{{- if $entry.poem }}
<pre class="verse">{{ $entry.text | safeHTML }}</pre>
{{- else }}
{{ $entry.text | markdownify }}
{{- end }}
  {{- if (or $entry.author_name $entry.work_title )}}
  <footer>&mdash;
    {{- if $entry.author_name }}
    <span class="p-author h-card">{{ $entry.author_name }}</span>{{- if $entry.work_title }}, {{- end }}
    {{- end }}
    {{- if $entry.work_title }}
    <cite>{{ with $entry.work_url }}<a href="{{ . }}">{{ end }}{{ $entry.work_title }}{{ if $entry.work_url }}</a>{{ end }}</cite>
    {{ end }}
    {{- if $entry.translator_name }}
    (translated by {{ $entry.translator_name }})
    {{- end }}
  </footer>
  {{- end }}
</blockquote>
