{{- $caption := .Get "caption" }}{{- $table_number := .Get "table_number" }}{{- if .Params.margin }}<div class="marginnote margin-table">{{- end }}<div class="table-wrapper"><a name="table-{{ $table_number }}"></a>
<table {{ with .Get "unstriped" }}class="unstriped" {{ end }}aria-label="Table {{ $table_number }}{{ if $caption}}: {{ $caption }}{{ end }}">
{{- if $caption }}<caption>Table {{ $table_number}}: {{ $caption | markdownify }}</caption>{{- end }}
{{ .Inner }}
</table></div>{{- if .Params.margin }}</div>{{- end}}
